span{
  color: navajowhite;
  font-size: 15px;
  font-style: normal;
  line-height: 15px;
  
}
h1{
  font-size: 20px;
  color: beige;
  font-style:normal;
  text-transform: uppercase;
  text-align: center;
  
}
h2{
  font-size: 20px;
  color: bisque;
  font-style:normal;
  text-transform: uppercase;
  text-align: center;
  
}
h3{
  font-size: 20px;
  color: brown;
  font-style:normal;
  text-transform: uppercase;
  text-align: left;
  
}
h4{
  font-size: 20px;
  font-style:normal;
  text-transform: uppercase;
  text-align: center;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  
}

*{
  box-sizing: border-box;
}

.center{
  display: block;
  margin-left: auto;
  margin-right:auto;
  width: 75%
}
.scontainer{
  background-color: burlywood;
  float: left;
  width: 32.33;
  padding: 50px;
  border-left: 10px solid black;
  border-right: 10px solid black;
}
.container::after{
  content: normal;
  clear: both;
  display: table;
}