

.right {
  width: 25%;
  height: 100px;
  text-align: right;
  min-height: 450px;
  padding: 1px;
  float: right;
}

  .left {
    width: 25%;
    float: left;
    height: 100px;
    text-align: left;
    min-height: 450px;
    padding: 1px;
  }

  .center {
    background-color: peru;
    width: 25%;
    float: center;
    height: 100px;
    text-align: center;
    min-height: 450px;
    padding: 1px;
  }


  *{
    margin:0;
    padding: 0;      
  }

  .container{

    width: 100vw;
    height: 100vh;
    border : solid 1px black;
  }

  .col{
    width: 32%;
    height: 100%;
    display: inline-block;
  }

  #center{
    border-left: solid 5px black;
    border-right: solid 5px black;
  }
