.flexbox-container{
    display: flex;
    justify-content:space-around;
    align-items: center;
    /*flex-direction:row-reverse;*/
    flex-wrap: wrap;
    background-color: greenyellow;
}

.flexbox-item{
    width: 200px;
    margin: 10px;
    border: solid 3px black;
}

#item-1{
    min-height:100px;
}
#item-2{
    min-height:200px;
}
#item-3{
    min-height:300px;
}